    table {
      border-collapse: collapse;
    }
    th, td {
      padding: 3px;
      text-align: center;
      border: 1px solid black;
    }
    th {
      background-color: #f2f2f2;
    }